name: Build wheels

on: 
  push:
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
      - doc/
  release:
    types:
      - published

jobs:
  build_wheels:
    name: Build wheel and sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install build
        run: python -m pip install --upgrade build

      - name: Build wheel and sdist
        run: python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: rankseg-dist
          path: dist/*

